body {
    margin: 0;
    color: #b9487a;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("/galaxy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px 0 40px 0;
    box-shadow: 0px 0px 5px white inset;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: #11011d;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    padding-bottom: 7px;
    font-family: 'Orbitron', sans-serif;
    color: #b9487a;
    font-weight: 400;
}
.cursor-box {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.cursor-box::before {
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(24deg, transparent, rgba(255,255,255,0.1), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5 ease;
}

.cursor-box:hover::before {
    top: 100%;
    left: 100%;
}

.zoom-in {
    cursor: zoom-in;
    background: linear-gradient(145deg, #11011d, #05000c);
    border: 0px;
}

.zoom-in:hover {
    transform: scale(1.15);
}

#terms {
    text-shadow: 0px 0px 1px black;
}

.underline {
    border-bottom: 4px solid white;
}
   
